
*.7z

# vs file
.vs/
.vscode/
*.suo
*.old
*.ncb
*.aps
*.opensdf
*.doc
lib/
bin/
out/
Debug/
*.db
UpgradeLog.htm
*.ipch
*.opendb
*.sdf


*.gif
*.jpg

*.exe
*.jar

*zip


SDK/*
!SDK/iSYS
Release/
code/ODBCDriver/ODBCDriver/Template/*
*.log
grammars-v4-master/
code/Antlr4/grammer/sqlite/*
.antlr/
*.ico
code/isysSql/Source/Windows_vs2015/*
